<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>screens</key>
	<array>
		<string>environment</string>
        <string>environment/geo</string>
        <string>environment/detail</string>
        <string>nodrive</string>
        <string>settings</string>
        <string>about</string>
        <string>menu</string>
	</array>
	<key>events</key>
	<array>
		<string>environment/station</string>
        <string>about/app</string>
        <string>settings/notifications</string>
	</array>
	<key>actions</key>
	<array>
        <string>geo</string>
        <string>detail</string>
        <string>review</string>
        <string>share</string>
        <string>on</string>
        <string>off</string>
	</array>
</dict>
</plist>
