<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Alvaro Obregon</string>
		<key>serverid</key>
		<integer>101</integer>
		<key>asset</key>
		<string>districts_alvaroobregon</string>
		<key>x</key>
		<integer>11</integer>
		<key>y</key>
		<integer>71</integer>
		<key>width</key>
		<integer>57</integer>
		<key>height</key>
		<integer>69</integer>
		<key>latitude</key>
		<real>0</real>
        <key>longitude</key>
        <real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Azcapotzalco</string>
		<key>serverid</key>
		<integer>102</integer>
		<key>asset</key>
		<string>districts_azcapotzalco</string>
		<key>x</key>
		<integer>50</integer>
		<key>y</key>
		<integer>32</integer>
		<key>width</key>
		<integer>27</integer>
		<key>height</key>
		<integer>22</integer>
        <key>latitude</key>
        <real>0</real>
        <key>longitude</key>
        <real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Benito Juarez</string>
		<key>serverid</key>
		<integer>103</integer>
		<key>asset</key>
		<string>districts_benitojuarez</string>
		<key>x</key>
		<integer>58</integer>
		<key>y</key>
		<integer>71</integer>
		<key>width</key>
		<integer>25</integer>
		<key>height</key>
		<integer>21</integer>
        <key>latitude</key>
        <real>0</real>
        <key>longitude</key>
        <real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Coyoacan</string>
		<key>serverid</key>
		<integer>104</integer>
		<key>asset</key>
		<string>districts_coyoacan</string>
		<key>x</key>
		<integer>51</integer>
		<key>y</key>
		<integer>87</integer>
		<key>width</key>
		<integer>53</integer>
		<key>height</key>
		<integer>39</integer>
        <key>latitude</key>
        <real>0</real>
        <key>longitude</key>
        <real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Cuajimalpa</string>
		<key>serverid</key>
		<integer>105</integer>
		<key>asset</key>
		<string>districts_cuajimalpa</string>
		<key>x</key>
		<integer>0</integer>
		<key>y</key>
		<integer>76</integer>
		<key>width</key>
		<integer>40</integer>
		<key>height</key>
		<integer>64</integer>
        <key>latitude</key>
        <real>0</real>
        <key>longitude</key>
        <real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Cuauhtemoc</string>
		<key>serverid</key>
		<integer>106</integer>
		<key>asset</key>
		<string>districts_cuauhtemoc</string>
		<key>x</key>
		<integer>57</integer>
		<key>y</key>
		<integer>48</integer>
		<key>width</key>
		<integer>36</integer>
		<key>height</key>
		<integer>40</integer>
        <key>latitude</key>
        <real>0</real>
        <key>longitude</key>
        <real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Gustavo A. Madero</string>
		<key>serverid</key>
		<integer>107</integer>
		<key>asset</key>
		<string>districts_gustavoamadero</string>
		<key>x</key>
		<integer>69</integer>
		<key>y</key>
		<integer>0</integer>
		<key>width</key>
		<integer>42</integer>
		<key>height</key>
		<integer>58</integer>
        <key>latitude</key>
        <real>0</real>
        <key>longitude</key>
        <real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Iztacalco</string>
		<key>serverid</key>
		<integer>108</integer>
		<key>asset</key>
		<string>districts_iztacalco</string>
		<key>x</key>
		<integer>77</integer>
		<key>y</key>
		<integer>64</integer>
		<key>width</key>
		<integer>46</integer>
		<key>height</key>
		<integer>33</integer>
        <key>latitude</key>
        <real>0</real>
        <key>longitude</key>
        <real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Iztapalapa</string>
		<key>serverid</key>
		<integer>109</integer>
		<key>asset</key>
		<string>districts_iztapalapa</string>
		<key>x</key>
		<integer>76</integer>
		<key>y</key>
		<integer>73</integer>
		<key>width</key>
		<integer>67</integer>
		<key>height</key>
		<integer>46</integer>
        <key>latitude</key>
        <real>0</real>
        <key>longitude</key>
        <real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Magdalena Contreras</string>
		<key>serverid</key>
		<integer>1010</integer>
		<key>asset</key>
		<string>districts_magdalenacontreras</string>
		<key>x</key>
		<integer>11</integer>
		<key>y</key>
		<integer>97</integer>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>51</integer>
        <key>latitude</key>
        <real>0</real>
        <key>longitude</key>
        <real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Miguel Hidalgo</string>
		<key>serverid</key>
		<integer>1011</integer>
		<key>asset</key>
		<string>districts_miguelhidalgo</string>
		<key>x</key>
		<integer>35</integer>
		<key>y</key>
		<integer>45</integer>
		<key>width</key>
		<integer>34</integer>
		<key>height</key>
		<integer>36</integer>
        <key>latitude</key>
        <real>0</real>
        <key>longitude</key>
        <real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Milpa Alta</string>
		<key>serverid</key>
		<integer>1012</integer>
		<key>asset</key>
		<string>districts_milpaalta</string>
		<key>x</key>
		<integer>68</integer>
		<key>y</key>
		<integer>137</integer>
		<key>width</key>
		<integer>79</integer>
		<key>height</key>
		<integer>72</integer>
        <key>latitude</key>
        <real>0</real>
        <key>longitude</key>
        <real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Tlahuac</string>
		<key>serverid</key>
		<integer>1013</integer>
		<key>asset</key>
		<string>districts_tlahuac</string>
		<key>x</key>
		<integer>101</integer>
		<key>y</key>
		<integer>99</integer>
		<key>width</key>
		<integer>44</integer>
		<key>height</key>
		<integer>52</integer>
        <key>latitude</key>
        <real>0</real>
        <key>longitude</key>
        <real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Tlalpan</string>
		<key>serverid</key>
		<integer>1014</integer>
		<key>asset</key>
		<string>districts_tlalpan</string>
		<key>x</key>
		<integer>16</integer>
		<key>y</key>
		<integer>107</integer>
		<key>width</key>
		<integer>77</integer>
		<key>height</key>
		<integer>87</integer>
        <key>latitude</key>
        <real>0</real>
        <key>longitude</key>
        <real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Venustiano Carranza</string>
		<key>serverid</key>
		<integer>1015</integer>
		<key>asset</key>
		<string>districts_venustianocarranza</string>
		<key>x</key>
		<integer>81</integer>
		<key>y</key>
		<integer>50</integer>
		<key>width</key>
		<integer>34</integer>
		<key>height</key>
		<integer>26</integer>
        <key>latitude</key>
        <real>0</real>
        <key>longitude</key>
        <real>0</real>
	</dict>
	<dict>
		<key>name</key>
		<string>Xochimilco</string>
		<key>serverid</key>
		<integer>1016</integer>
		<key>asset</key>
		<string>districts_xochimilco</string>
		<key>x</key>
		<integer>69</integer>
		<key>y</key>
		<integer>104</integer>
		<key>width</key>
		<integer>58</integer>
		<key>height</key>
		<integer>65</integer>
        <key>latitude</key>
        <real>0</real>
        <key>longitude</key>
        <real>0</real>
	</dict>
</array>
</plist>
