<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>1</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<real>0.949</real>
			<key>green</key>
			<real>0.396</real>
			<key>blue</key>
			<real>0.584</real>
		</dict>
		<key>stations</key>
		<array>
			<dict>
				<key>name</key>
				<string>Observatorio</string>
				<key>asset</key>
				<string>metro_1_observatorio</string>
				<key>location</key>
				<dict>
					<key>latitude</key>
					<real>19.398163</real>
					<key>longitude</key>
					<real>-99.20038099999999</real>
				</dict>
				<key>link</key>
				<array/>
			</dict>
		</array>
	</dict>
</array>
</plist>
