<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>1</string>
		<key>color</key>
		<dict>
			<key>red</key>
			<real>0.949</real>
			<key>green</key>
			<real>0.396</real>
			<key>blue</key>
			<real>0.584</real>
		</dict>
		<key>stations</key>
		<array>
			<dict>
				<key>name</key>
				<string>Observatorio</string>
				<key>asset</key>
				<string>metro_1_observatorio</string>
				<key>location</key>
				<dict>
					<key>latitude</key>
					<real>19.398163</real>
					<key>longitude</key>
					<real>-99.200233</real>
				</dict>
				<key>link</key>
				<array/>
			</dict>
			<dict>
				<key>name</key>
				<string>Tacubaya</string>
				<key>asset</key>
				<string>metro_1_tacubaya</string>
				<key>location</key>
				<dict>
					<key>latitude</key>
					<real>19.401929</real>
					<key>longitude</key>
					<real>-99.187292</real>
				</dict>
				<key>link</key>
				<array>
					<string>7</string>
					<string>9</string>
				</array>
			</dict>
            <dict>
                <key>name</key>
                <string>Juanacatlan</string>
                <key>asset</key>
                <string>metro_1_juanacatlan</string>
                <key>location</key>
                <dict>
                    <key>latitude</key>
                    <real>19.412949</real>
                    <key>longitude</key>
                    <real>-99.181684</real>
                </dict>
                <key>link</key>
                <array/>
            </dict>
            <dict>
                <key>name</key>
                <string>Chapultepec</string>
                <key>asset</key>
                <string>metro_1_chapultepec</string>
                <key>location</key>
                <dict>
                    <key>latitude</key>
                    <real>19.420488</real>
                    <key>longitude</key>
                    <real>-99.176949</real>
                </dict>
                <key>link</key>
                <array/>
            </dict>
            <dict>
                <key>name</key>
                <string>Sevilla</string>
                <key>asset</key>
                <string>metro_1_sevilla</string>
                <key>location</key>
                <dict>
                    <key>latitude</key>
                    <real>19.421728</real>
                    <key>longitude</key>
                    <real>-99.170824</real>
                </dict>
                <key>link</key>
                <array/>
            </dict>
            <dict>
                <key>name</key>
                <string>Insurgentes</string>
                <key>asset</key>
                <string>metro_1_insurgentes</string>
                <key>location</key>
                <dict>
                    <key>latitude</key>
                    <real>19.423508</real>
                    <key>longitude</key>
                    <real>-99.163316</real>
                </dict>
                <key>link</key>
                <array/>
            </dict>
            <dict>
                <key>name</key>
                <string>Cuauhtémoc</string>
                <key>asset</key>
                <string>metro_1_cuauhtemoc</string>
                <key>location</key>
                <dict>
                    <key>latitude</key>
                    <real>19.425566</real>
                    <key>longitude</key>
                    <real>-99.154467</real>
                </dict>
                <key>link</key>
                <array/>
            </dict>
            <dict>
                <key>name</key>
                <string>Balderas</string>
                <key>asset</key>
                <string>metro_1_balderas</string>
                <key>location</key>
                <dict>
                    <key>latitude</key>
                    <real>19.427579</real>
                    <key>longitude</key>
                    <real>-99.148999</real>
                </dict>
                <key>link</key>
                <array>
                    <string>3</string>
                </array>
            </dict>
		</array>
	</dict>
</array>
</plist>
