<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>server</key>
	<string>https://nubecero.com/</string>
	<key>pollution</key>
	<string>cdmx/pollution.api</string>
	<key>radiation</key>
	<string>cdmx/radiation.api</string>
	<key>nodrive</key>
	<string>cdmx/nodrive.api</string>
	<key>server-weather</key>
	<string>https://query.yahooapis.com/</string>
	<key>forecast</key>
	<string>v1/public/yql?q=select%20*%20from%20weather.forecast%20where%20woeid%3D116545&amp;format=json</string>
</dict>
</plist>
