<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <key>1018</key>
    <dict>
        <key>symbol</key>
        <string>O3</string>
        <key>info</key>
        <string>hello world</string>
    </dict>
</array>
</plist>
