<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1018</key>
	<dict>
		<key>symbol</key>
		<string>O3</string>
		<key>info</key>
        <string>Ozone or trioxygen, is an inorganic molecule with the chemical formula O3.

It is a pale blue gas with a distinctively pungent smell, is much less stable than the diatomic allotrope O2, breaking down in the lower atmosphere to normal dioxygen.

Ozone precursors are a group of pollutants, predominantly those emitted during the combustion of fossil fuels, ozone pollution is created near the Earth's surface by the action of daylight UV rays on these precursors.

There is a great deal of evidence to show that ground level ozone can harm lung function and irritate the respiratory system.

Exposure to ozone is linked to premature death, asthma, bronchitis, heart attack, and other cardiopulmonary problems.

Long-term exposure to ozone has been shown to increase risk of death from respiratory illness.</string>
	</dict>
</dict>
</plist>
