<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1018</key>
	<dict>
		<key>symbol</key>
		<string>O3</string>
		<key>info</key>
        <string>Ozone or trioxygen, is an inorganic molecule with the chemical formula O3.

It is a pale blue gas with a distinctively pungent smell, is much less stable than the diatomic allotrope O2, breaking down in the lower atmosphere to normal dioxygen.

Ozone precursors are a group of pollutants, predominantly those emitted during the combustion of fossil fuels, ozone pollution is created near the Earth's surface by the action of daylight UV rays on these precursors.

There is a great deal of evidence to show that ground level ozone can harm lung function and irritate the respiratory system.

Exposure to ozone is linked to premature death, asthma, bronchitis, heart attack, and other cardiopulmonary problems.

Long term exposure to ozone has been shown to increase risk of death from respiratory illness.</string>
	</dict>
    <key>1022</key>
    <dict>
        <key>symbol</key>
        <string>PM</string>
        <key>info</key>
        <string>Atmospheric particulate matter is microscopic matter suspended in the Earth's atmosphere, it can be solid or liquid and when mixed with air is commonly refered as aerosol.

Sources of particulate matter can be man-made or natural and they have impacts on climate and precipitation such as to adversely affect human health.

The International 'Agency for Research on Cancer' and the 'World Health Organization' designate airborne particulates a Group 1 carcinogen and define them as the deadliest form of air pollution due to their ability to penetrate deep into the lungs and blood streams unfiltered, causing permanent DNA mutations, heart attacks, and premature death.

There is no safe level of particulates and the smaller are particularly deadly as they can penetrate deeper into the lungs.

Some particulates occur naturally, originating from volcanoes, dust storms, forest and grassland fires, living vegetation, and sea spray.

Human activities, such as the burning of fossil fuels in vehicles, power plants and various industrial processes also generate significant amounts of particulates.

Because salt spray over the oceans is the overwhelmingly most common form of particulate in the atmosphere, aerosols made by human activities currently account for about 10 percent of the total mass of aerosols.</string>
    </dict>
</dict>
</plist>
