<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ben</key>
	<string>Benzene</string>
	<key>tol</key>
	<string>Toluene</string>
	<key>so4</key>
	<string>Sulfate</string>
	<key>no3</key>
	<string>Nitrate</string>
	<key>cl</key>
	<string>Chloride</string>
	<key>co3</key>
	<string>Carbonate</string>
	<key>h</key>
	<string>Hydrogen</string>
	<key>nh4</key>
	<string>Ammonium</string>
	<key>ca</key>
	<string>Calcium</string>
	<key>mg</key>
	<string>Magnesium</string>
	<key>na</key>
	<string>Sodium</string>
	<key>k</key>
	<string>Potassium</string>
	<key>pbpst</key>
	<string>Lead</string>
	<key>pbpm</key>
	<string>Lead</string>
	<key>etb</key>
	<string>Ethylbenzene</string>
	<key>xil</key>
	<string>Xylene</string>
</dict>
</plist>
